.idea

# Server
server/*
!server/world_lobby
server/world_lobby/*
!server/world_lobby/region.default
!server/world_lobby/level.dat.default

# Plugin
pkd-plugin/.gradle
pkd-plugin/.kotlin
pkd-plugin/build/

# Velocity
proxy/*
!proxy/velocity.toml

dist/
build-release.bat
release-setup.bat
release-setup.sh
start.bat
start.sh